body{
    background-color: rgb(135, 159, 202);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login{
    text-align: left;
    border: 2px solid black;
    padding:80px;
    margin: 80px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.button{
    background-color: aliceblue;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border-radius: 3px;
    font-family: cursive;
    cursor: pointer;
    transition: 0.15s;
}

.button:hover{
    transform: scale(1.10);
    background-color: aliceblue;
}

.box{
    transition: 0.35s;

}

.box:hover{
    border: 2px solid rgb(42, 25, 231);
    box-shadow: 0px 0px 21px rgb(135, 159, 202, 0.3);

}